<div class="login">
	<div class="content">
	<%= form_tag do %>
			<table border="0" class="table">
				<tr>
					<h2>Login</h2>
				</tr>
				<tr>
					<% if flash[:alert] %>
						<div id="alerte" class="alert alert-error">
							<a class="close" data-dismiss="alert" href="#">×</a>
							<p class="field_with_errors"><%= 'Login unsuccessful' %></p>
						</div>
					<% end %>
				</tr>
				<tr>
					<td><%= text_field_tag :name, params[:name], :placeholder => 'login'%></td>
				</tr>
				<tr>
					<td><%= password_field_tag :password, params[:password], :placeholder => 'password' %></td>
				</tr>
				<tr>
					<td colspan="2">
						<div>
							<%= submit_tag "Login", :class => 'btn btn-inverse' %>
						</div>
					</td>
				</tr>
			</table>
	<% end %>
	</div>
</div>