<div class="span9 content_admin">
  <div class="content">
  <%= form_for @image_store, :url => (@image_store.new_record? ? admins_path : admin_path(@image_store.id)) do |f| %>
    <div>
    	<%= f.label :name %><br />
    	<%= f.text_field :name %>
    </div>
    <div>
    	<%= f.label :description %><br />
    	<%= f.text_field :description %>
    </div>
     <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
  <div>
</div>