  <hr /><br/>
  <%= form_for @image_store, :url => (@image_store.new_record? ? admins_path : admin_path(@image_store.id)), :html => {:multipart => true} do |f| %>
    <div>
    	<%= f.label :name %><%= f.text_field :name, :required => 'required' %>
    </div>
    <div>
    	<%= f.label :description %><%= f.text_field :description, :required => 'required'  %>
    </div>
    <div>
      <%= f.label 'Gallery ZIP'  %><%= f.file_field :image %>  
    </div>
    <div class="actions">
      <%= f.submit "Done", :class => 'btn btn-inverse' %>
    </div>
    <div class="back">
      <%= link_to 'back', :controller => "admin", :action => "index" %>
    </div>
  <% end %>
  <div>
</div>

