<div class="span9 gallery_admin">
  <% @image_stores.each do |store| %>
    <%= div_for(store, :class => "gallery") do %>
      <table border="0">
        <tr>
          <td id="store_name"><h1><%= store.name  %></h1></td>
          <td><p id="datetime"><%= time_tag store.created_at, :format => '%d.%m.%y' %></p></td>
        </tr>
        <tr>
          <td><%= store.description %></td>
        </tr>
        <tr>
          <td colspan="2">
          <ul class="thumbnails row">        
            <li class="thumbnail span3">
            </li>         
          </ul>
          </td>
        </tr>
      </table>
      <table border="0">
        <tr>
          <td>
            <%= link_to 'Edit', {:controller => 'admin', :action => 'edit', :id => store.id}, :class => 'btn btn-info' %>
            <%= link_to 'Destroy', admin_path(store), :method => 'delete', :confirm => 'Are you sure ?', :class => 'btn btn-danger' %>
          </td>
        </tr>
      </table>
    <% end %>
  <% end %>
</div>
