<div class="span9">
  <% @image_stores.each do |store| %>
    <%= div_for(store, :class => "gallery") do %>
      <table border="0">
        <tr>
          <td id="store_name"><h1><%= store.name  %></h1></td>
          <td><p id="datetime"><%= time_tag store.created_at, :format => '%d.%m.%y' %></p></td>
        </tr>
        <tr>
          <td><%= store.description %></td>
        </tr>
          <%= link_to "Edit", :controller => "admin", :action => "edit", :id => store.id  %> |
   				<%= link_to "Delete", :controller => "admin", :action => "destroy" %>
      </table>
    <% end %>
  <% end %>
</div>