<div class="span9 gallery_div">
  <% @image_stores.each do |store| %>
    <%= div_for(store, :class => "gallery") do %>
      <table border="0">
        <tr>
          <td id="store_name"><h1><%= link_to store.name, :controller => "galleries", :action => "show", :id => store.id, :class => 'title_link' %></h1></td>
          <td><p id="datetime"><%= time_tag store.created_at, :format => '%d.%m.%y' %></p></td>
        </tr>
        <tr>
          <td><%= store.description %></td>
        </tr>
        <tr>
          <td colspan="2">
          <ul class="thumbnails row">    
            <% images = store.images %> 
            <% 1.upto(6) do |index| %>      
              <li class="thumbnail span3">
                <%= image_tag images[index-1].image if !images[index-1].nil? %>  
              </li>     
            <% end %>      
          </ul>
          </td>
        </tr>
      </table>
      <table border="0">
        <tr>
          <td id="empty_col"></td>
          <td><div><%= link_to 'plus..', :controller => "galleries", :action => "show", :id => store.id %></div></td>
        </tr>
      </table>
    <% end %>
  <% end %>
</div>