<div class="span9 gallery_div show">
  <% store = @image_store %>
    <%= div_for(store, :class => "gallery") do %>
      <table border="0">
        <tr>
          <td id="store_name"><h1><%= store.name  %></h1></td>
          <td><p id="datetime"><%= time_tag store.created_at, :format => '%d.%m.%y' %></p></td>
        </tr>
        <tr>
          <td><%= store.description %></td>
        </tr>
        <tr>
          <td colspan="2">
          <ul class="thumbnails row">    
            <% images = store.images %> 
              <% images.each do |index| %>  
              <li class="thumbnail span3">
                <a href="<%= index.image if !index.nil?%>" rel='gallery'>   
                <%= image_tag index.image if !index.nil? %>  
                </a>
              </li>     
            <% end %>      
          </ul>
          </td>
        </tr>
      </table>
      <table border="0">
        <tr>
          <td id="empty_col"></td>
          <td><div><%= link_to 'retour', {:controller => 'galleries', :action => 'index'} %></div></td>
        </tr>
      </table>  
    <% end %>
</div>
