<div class="span12 gallery gallery_div">
  <div class="form">
  <h1>Contactez-moi</h1><hr />
  <%= form_for @message, :url => contact_path do |f| %>
    <% if @message.errors.any? %>
      <h4>Erreur dans le formulaire :</h4>
      <% @message.errors.each do |attr,msg|  %>
        <li class="error"><%= msg %></li>
      <% end %> 
    <% end %><br />
    <div></div>
    <div class="field_label">
      <%= f.label "Prénom", :class => "label_name" %><%= f.label 'Email', :class => "label_email" %>
    </div>
    <div class="field">
      <%= f.text_field :name, :class => "field_name" %><%= f.email_field :email, :class => "field_email" %>
    </div><br />
    <div class="field_message">
      <%= f.label 'Message' %>
      <%= f.text_area :content, :rows => 6, :class => "message" %>
    </div><br />
    <div class="field_submit">
      <%= f.submit 'Envoyer message', :class => "btn btn-inverse" %>
    </div>
  <% end %>
  </div>
</div>