<div class="span12 gallery gallery_div">
  <div class="form">
  <h1>Contacter moi</h1><hr />
  <%= form_for @message, :url => contact_path do |f| %>
    <% if @message.errors.any? %>
      <h4>Erreur dans le formulaire :</h4>
      <% @message.errors.each do |attr,msg|  %>
        <li><%= msg %></li>
      <% end %> 
    <% end %><br />
    <div class="field">
      <%= f.label "Prénom" %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label 'Email' %>
      <%= f.email_field :email %>
    </div>
    <div class="field">
      <%= f.label 'Message' %>
      <%= f.text_area :content, :rows => 6 %>
    </div><br />
    <div class="field">
      <%= f.submit 'Envoyer message', :class => "btn btn-inverse" %>
    </div>
  <% end %>
  </div>
</div>